body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: var(--colornormal);
    letter-spacing: .03em;
}

.logo { 
    /* Logo WebStudio */
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--colorwebstudio);
    text-decoration: none;
    /*border: 1px solid red;*/
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    min-width: 320px;
   /*border: 1px solid red;*/
}

.section { padding-top: 60px; }

@media screen and (min-width: 1200px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        /*border: 1px solid green;*/
    }
    .section { padding-top: 94px;
    }
}

ul { 
    list-style-type: none;
    padding: 0;
 }
  
li { display: inline; }
  
h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: .03em;
    color: var(--colorbold);
    text-align: center;
    /*border: 1px solid red;*/
}

button {
    border: none;
    cursor: pointer;
}
  
a {
    color: var(--colornormal);
    text-decoration: none;
    transition: color;
    transition: var(--transition);
    cursor: pointer;
    &:hover {
        color: var(--colorwebstudio); }
    &:focus {
        color: var(--colorwebstudio); }
    &:active {
        color: var(--colorwebstudio); }
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--colordarkmode);
    }
    h2 {
        color: white;
    }
    
}
