.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;

    &__container {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
    }  

    &__p {
      position: relative;
      top: -85px;
      padding-top: 27px;
      padding-bottom: 27px;
      width: 373px;
      font-weight: 700;
      color: var(--colorwhite);
      text-align: center;
      text-transform: uppercase; 
      background-color: #2f303acc;
    }
  }
}