.values {
    /*border: 3px solid red;*/

    &__icon {
      margin-bottom: 30px;
      text-align: center;
      background-color: var(--colorgrey);
      /*border: 1px solid blue;*/
    }

    &__svg {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 70px;
        height: 70px;
        /*border: 1px solid red;*/
      }

    &__h3 {
        font-size: 14px;
        line-height: 1.143;
        color: var(--colorbold);
        text-align: center;
        text-transform: uppercase;
        /*border: 1px solid blue;*/
      }

    &__p {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.71;
        /*border: 1px solid blue;*/
      }
      
}

@media screen and (min-width: 768px) {
  .values {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__container { width: calc(50% - 15px); }
    &__h3 {text-align: left;}
  }
}

@media screen and (min-width: 1200px) {
  .values {
    &__container {
      width: 270px;
    }
  }
}
