.services {
  display: none;
}



@media screen and (min-width: 1200px) {
  .services {
    display: block;

    &__ul {
      margin-bottom: 94px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      /*border: 2px solid blue;*/
    }  

    &__p {
      position: relative;
      top: -72px;
      margin: 0px;
      width: 373px;
      padding-top: 27px;
      padding-bottom: 27px;
      font-weight: 700;
      letter-spacing: .03em;
      color: var(--colorwhite);
      text-align: center;
      text-transform: uppercase; 
      background-color: #2f303acc;
    }
  }
}