:root {
    color-scheme: light dark;
    --colornormal: #757575;
    --colorbold: #212121;
    --colorbgdark: #2f303a;
    --colorwebstudio: #2196f3;
    --colorgrey: #f5f4fa;
    --colorsvgs: #afb1b8;
    --colorwhite: white;
    --colordarkmode: #AFAFAF;
    --colorbgdarkmode: #303030;
    --transition: 250ms cubic-bezier(.4, 0, .2, 1);
}